*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.card-container-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three cards in a row by default */
  gap: 30px;
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.search-conatiner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.search-bar-headings{
  display: flex;
}

.search-bar-text{
  padding: 0.5em 1em;
  font-size: 0.85rem;
}
.search-job-heading{
  border-bottom: 1px solid rgb(0, 0, 181);
}
@media (max-width:900px) {
  .card-container-box{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width:600px) {
  .card-container-box{
    grid-template-columns: repeat(1,1fr);
  }
}


.header{
  display: flex;
  margin-bottom: 2rem;
  padding: 1em 2em;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8vh;
  border-bottom: 2px solid rgba(101, 101, 101, 0.248);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: aquamarine;
}

.search-filters{
  display: flex;
  justify-content: space-around;
  margin: 1rem 0rem;
  width: 100%;
  font-size: 0.7rem;
}

.role-inp{
  position: relative;
}

.options{
  position: absolute;
  background-color: white;
  color: black;
  z-index: 1;
  top: 0px;
  left: 0px;
}

.autocomplete{
  width: 90px;
  height: 45px;
  font-size: 0.75rem;
  outline: none;
}

.option-list{
  font-size: 0.75rem;
}


#options option{
  font-size: 0.7rem;
}